<div class="bg">
    <div class="container ">



        <h2 class="text-center pt-5">تعديل تأمين إجباري</h2>

        <!-- card 1-->
        <div class="card shadow1 mt-5 ">
            <div class="card-body">
                <h4 class="card-title text-center ">معلومات عن التأمين    </h4>
                <div class="row">
                    <div class="col-4">
                        <div class="dis">
                            <p> الإسم</p>
                            <input type="text" [ngClass]="!assuranceObligatoire.name && verife?'form-control error-border':'form-control' "  [(ngModel)]="assuranceObligatoire.name"  required >

                        </div>
                        <div *ngIf="!assuranceObligatoire.name && verife" class="msg_error text-center mt-0">
                            * الإسم إجباري
                        </div>


                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <label>العنوان </label>
                            <input type="text" [ngClass]="!assuranceObligatoire.address && verife?'form-control error-border':'form-control' " [(ngModel)]="assuranceObligatoire.address" required>

                        </div>
                        <div *ngIf="!assuranceObligatoire.address && verife" class="msg_error text-center mt-0">
                            * العنوان إجباري
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <label>رقم هاتف </label>
                            <input type="tel"  [(ngModel)]="assuranceObligatoire.phone_number" [ngClass]="!assuranceObligatoire.phone_number && verife?'form-control error-border':'form-control' "  >
                        </div>
                        <div *ngIf="!assuranceObligatoire.phone_number && verife" class="msg_error text-center mt-0">
                            * رقم هاتف إجباري
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="dis">
                            <p>نوع التأمين</p>
                            <select class="form-select"  [(ngModel)]="assuranceObligatoire.insurance_type" (change)="changeroption1()"  >
                                <option selected value="إجباري لمدة سنة">إجباري لمدة سنة </option>
                                <option value="سنتان">سنتان</option>
                                <option value="ثلاثة سنوات">ثلاثة سنوات  </option>
                                <option value="جمارك">جمارك  </option>
                                <option value="فترة قصيرة">فترة قصيرة  </option>
                                <option value="تغير الملكية ">تغير الملكية </option>
                                <option value="بدل فاقد ">بدل فاقد  </option>
                            </select>

                        </div>


                    </div>


                    <div class="col-8">
                        <div class="dis">
                            <p>   التغطية من  </p>
                            <input type="date" class="form-control"   [(ngModel)]="startDate"/>

                            إلى
                            <input type="date" class="form-control" [(ngModel)]="endDate" />
                        </div>
                    </div>
                </div>

                <!--ligne 3-->

                <div class="row">
                    <div class="col-4">
                        <div class="dis">
                            <p>  نوع الترخيص  </p>
                            <select [(ngModel)]="assuranceObligatoire.license_type"  class='form-select'>
                                <option selected value="خاصة">خاصة</option>
                                <option value="مقطورة خاصة">مقطورة خاصة</option>
                                <option value="ركوبة عامة داخل المدينة">ركوبة عامة داخل المدينة</option>
                                <option value="ركوبة عامة خارج المدينة">ركوبة عامة خارج المدينة</option>
                                <option value="مركبة مقطورة بالحافلة ">مركبة مقطورة بالحافلة </option>
                                <option value="سيرة نقل و رأس جر">سيرة نقل و رأس جر</option>
                                <option value="سيارة جرارة و الألات ">سيارة جرارة و الألات  </option>
                                <option value="مركبة مقطورة ">مركبة مقطورة </option>
                                <option value="دراجة نارية ">دراجة نارية </option>
                                <option value="دراجة نارية بمنحقات"> دراجة نارية بمنحقات</option>
                                <option value="سيارة نقل الموتى ">سيارة نقل الموتى </option>
                                <option value="السيرات التيجارية">السيرات التيجارية </option>
                                <option value="سيارة إسعاف">سيارة إسعاف </option>
                                <option value="سيارة مدرسة تعليم">سيارة مدرسة تعليم</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        مواصفاته        </p>
                            <select  [(ngModel)]="assuranceObligatoire.assurance_specifications" (change)="taxecalcule()" [ngClass]="assuranceObligatoire.assurance_specifications==='اختر مواصفاته' && verife?'form-select error-border':'form-select' "  >
                                <option selected value="اختر مواصفاته" style="font-weight: bold"> اختر مواصفاته  </option>
                                <option  value="من 0 إلى 16 حصان"> من 0 إلى 16 حصان  </option>
                                <option value="من 17 إلى 30 حصان">من 17 إلى 30 حصان   </option>
                                <option value="أكثر من 30 حصان">أكثر من 30 حصان</option>
                            </select>
                        </div>
                        <div *ngIf="assuranceObligatoire.assurance_specifications=='اختر مواصفاته' && verife" class="msg_error text-center mt-0">
                            * مواصفاته إجباري
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- car detaile -->
        <div class="card 1 mt-5 ">
            <div class="card-body">
                <h4 class="card-title text-center ">معلومات عن السيارة    </h4>
                <div class="row">
                    <div class="col-4">
                        <div class="dis">
                            <p>   نوع السيارة   </p>
                            <select class="form-select"  [(ngModel)]="assuranceObligatoire.type_car" [ngClass]="assuranceObligatoire.type_car=='اختر ماركة السيارة' && verife?'form-select error-border':'form-select' " >

                                <option selected style="font-weight: bold">اختر ماركة السيارة</option>
                                <option value="ألفا روميو">ألفا روميو</option>
                                <option value="أودي">أودي</option>
                                <option value="ايسوزو">ايسوزو</option>
                                <option value="ام جى">ام جى</option>
                                <option value="أوبل">أوبل</option>
                                <option value="بروتون">بروتون</option>
                                <option value="بى ام دبليو">بى ام دبليو</option>
                                <option value="بريليانس">بريليانس</option>
                                <option value="بى واى دى">بى واى دى</option>
                                <option value="بيجو">بيجو</option>
                                <option value="بورش">بورش</option>
                                <option value="تويوتا">تويوتا</option>
                                <option value="دايو">دايو</option>
                                <option value="دايهاتسو">دايهاتسو</option>
                                <option value="دودج">دودج</option>
                                <option value="جيلى">جيلى</option>
                                <option value="جاكوار">جاكوار</option>
                                <option value="جيب">جيب</option>
                                <option value="رينو">رينو</option>
                                <option value="سايبا">سايبا</option>
                                <option value="سكودا">سكودا</option>
                                <option value="اسبرانزا">اسبرانزا</option>
                                <option value="سانج يونغ">سانج يونغ</option>
                                <option value="سوبارو">سوبارو</option>
                                <option value="شيرى">شيرى</option>
                                <option value="شيفروليه">شيفروليه</option>
                                <option value="سيتروين">سيتروين</option>
                                <option value="فورد">فورد</option>
                                <option value="سيات">سيات</option>
                                <option value="سوزوكى">سوزوكى</option>
                                <option value="كرايسلر">كرايسلر</option>
                                <option value="فيات">فيات</option>
                                <option value="كيا">كيا</option>
                                <option value="لادا">لادا</option>
                                <option value="فولكسفاجن">فولكسفاجن</option>
                                <option value="فولفو">فولفو</option>
                                <option value="لاند روفر">لاند روفر</option>
                                <option value="مازدا">مازدا</option>
                                <option value="مرسيدس بنز">مرسيدس بنز</option>
                                <option value="ميني كوبر">ميني كوبر</option>
                                <option value="ميتسوبيشى">ميتسوبيشى</option>
                                <option value="نيسان">نيسان</option>
                                <option value="هوندا">هوندا</option>
                                <option value="هامر">هامر</option>
                                <option value="هيونداي">هيونداي</option>
                            </select>

                        </div>
                        <div *ngIf="assuranceObligatoire.type_car=='اختر ماركة السيارة'  && verife" class="msg_error text-center mt-0">
                            * ماركة السيارة إجباري
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        رقم اللوحة            </p>
                            <input type="text" [ngClass]="!assuranceObligatoire.numero_serie && verife?'form-control error-border':'form-control' " [(ngModel)]="assuranceObligatoire.numero_serie"   />
                        </div>
                        <div *ngIf="!assuranceObligatoire.numero_serie && verife" class="msg_error text-center mt-0">
                            *  رقم اللوحة إجباري
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        رقم الهيكل        </p>
                            <input type="text" [ngClass]="!assuranceObligatoire.numero_structure && verife?'form-control error-border':'form-control' "  [(ngModel)]="assuranceObligatoire.numero_structure" />
                        </div>
                        <div *ngIf="!assuranceObligatoire.numero_structure && verife" class="msg_error text-center mt-0">
                            *  رقم الهيكل  إجباري
                        </div>

                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        رقم المحرك            </p>
                            <input type="text" [ngClass]="!assuranceObligatoire.numero_moteur && verife?'form-control error-border':'form-control' "  [(ngModel)]="assuranceObligatoire.numero_moteur" />
                        </div>
                        <div *ngIf="!assuranceObligatoire.numero_moteur && verife" class="msg_error text-center mt-0">
                            *   رقم المحرك إجباري
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>الحمولة</p>

                            <input type="number" [ngClass]="!assuranceObligatoire.Charge && verife?'form-control error-border':'form-control' "   [(ngModel)]="assuranceObligatoire.Charge"/>
                        </div>
                        <div *ngIf="!assuranceObligatoire.Charge && verife" class="msg_error text-center mt-0">
                            * الحمولة إجباري
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        عدد الركاب            </p>
                            <input type="number" [ngClass]="!assuranceObligatoire.nb_passager && verife?'form-control error-border':'form-control' "  [(ngModel)]="assuranceObligatoire.nb_passager" />
                        </div>
                        <div *ngIf="!assuranceObligatoire.nb_passager && verife" class="msg_error text-center mt-0">
                            * عدد الركاب إجباري
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        سنة الصنع            </p>
                            <select [ngClass]="!anneefabrication && verife?'form-select error-border':'form-select' " id="year" [(ngModel)]="anneefabrication" >
                                <option selected style="font-weight: bold">اختر سنة الصنع</option>
                                <option *ngFor="let year of years" [value]="year">{{year}}</option>
                            </select>
                        </div>
                        <div *ngIf="!anneefabrication  && verife" class="msg_error text-center mt-0">
                            *   سنة الصنع إجباري
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="dis">
                            <p>اللون</p>

                            <select class="form-select"   [(ngModel)]="assuranceObligatoire.couleur" [ngClass]="assuranceObligatoire.couleur=='اختر لون السيارة' && verife?'form-select error-border':'form-select' ">
                                <option value="اختر لون السيارة" selected style="font-weight: bold">اختر لون السيارة</option>
                                <option value="أبيض">أبيض</option>
                                <option value="أسود">أسود</option>
                                <option value="أحمر">أحمر</option>
                                <option value="أزرق">أزرق</option>
                                <option value="أخضر">أخضر</option>
                                <option value="أصفر">أصفر</option>
                                <option value="برتقالي">برتقالي</option>
                                <option value="أرجواني">أرجواني</option>
                                <option value="بني">بني</option>
                                <option value="فضي">فضي</option>
                                <option value="ذهبي">ذهبي</option>
                                <option value="رمادي">رمادي</option>
                                <option value="بورجوندي">بورجوندي</option>
                            </select>
                        </div>
                        <div *ngIf="assuranceObligatoire.couleur=='اختر لون السيارة'  && verife" class="msg_error text-center mt-0">
                            *  لون السيارة إجباري
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="dis">
                            <p>        بلد الصنع            </p>
                            <select   [(ngModel)]="assuranceObligatoire.Pays_de_fabrication" [ngClass]="assuranceObligatoire.Pays_de_fabrication=='اختر بلد الصنع' && verife?'form-select error-border':'form-select' " >
                                <option selected value="اختر بلد الصنع" style="font-weight: bold">اختر بلد الصنع</option>
                                <option value="ألمانيا">ألمانيا</option>
                                <option value="اليابان">اليابان</option>
                                <option value="كوريا الجنوبية">كوريا الجنوبية</option>
                                <option value="الصين">الصين</option>
                                <option value="فرنسا">فرنسا</option>
                                <option value="إيطاليا">إيطاليا</option>
                                <option value="الولايات المتحدة">الولايات المتحدة</option>
                                <option value="المملكة المتحدة">المملكة المتحدة</option>
                                <option value="كندا">كندا</option>
                                <option value="البرازيل">البرازيل</option>
                                <option value="الهند">الهند</option>
                                <option value="تايلاند">تايلاند</option>
                                <option value="تركيا">تركيا</option>
                                <option value="روسيا">روسيا</option>
                            </select>
                        </div>
                        <div *ngIf="assuranceObligatoire.Pays_de_fabrication=='اختر بلد الصنع'  && verife" class="msg_error text-center mt-0">
                            * بلد الصنع إجباري
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>        جهة الترخيص            </p>
                            <select   [(ngModel)]="assuranceObligatoire.Orga_de_delivr" [ngClass]="!assuranceObligatoire.Orga_de_delivr && verife?'form-select error-border':'form-select' ">
                                <option selected style="font-weight: bold">اختر ولاية ليبيا</option>
                                <option *ngFor="let state of libyanStates" [value]="state">{{state}}</option>
                            </select>
                        </div>
                        <div *ngIf="!assuranceObligatoire.Orga_de_delivr  && verife" class="msg_error text-center mt-0">
                            * جهة الترخيص  إجباري
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow1 mt-5 ">
            <div class="card-body">
                <h4 class="card-title text-center ">حساب الضرائب    </h4>

                <div class="row">
                    <div class="col-4">
                        <div class="dis">
                            <p>القسط الصافي</p>
                            <input type="number" class="form-control"  style="width: 40%;" [(ngModel)]="assuranceObligatoire.initial" [value]="assuranceObligatoire.initial"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>الضريبة</p>

                            <input type="number" class="form-control" style="width: 40%;" [(ngModel)]="assuranceObligatoire.taxe1" [value]="assuranceObligatoire.taxe1"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>الدمغة</p>
                            <input type="number" class="form-control" style="width: 40%;" [(ngModel)]="assuranceObligatoire.taxe2"  [value]="assuranceObligatoire.taxe2"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>الإشراف و الرقابة</p>
                            <input type="number" class="form-control" style="width: 40%;" [(ngModel)]="assuranceObligatoire.taxe3" [value]="assuranceObligatoire.taxe3"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>م الإصدار</p>
                            <input type="number" class="form-control" style="width: 40%;" [(ngModel)]="assuranceObligatoire.taxe4" [value]="assuranceObligatoire.taxe4"/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="dis">
                            <p>الإجمالي</p>
                            <input type="number" class="form-control" style="width: 40%;" [(ngModel)]="assuranceObligatoire.total" [value]="assuranceObligatoire.total"/>
                        </div>
                    </div>
                </div>



            </div>
        </div>

        <div class="row">
            <div class="dis">
                <button type="button" class="button b1" (click)="OnUpdate()" >إضافة  <i class="fa-solid fa-plus" style="color: #ffffff;"></i>  </button>
                <button type="button" class="button b2">طباعة   <i class="fa-solid fa-download" style="color: #ffffff;"></i> </button>
                <button type="button" class="button b3" routerLink="/dashboard">إلغاء  <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>  </button>
            </div>
        </div>

    </div>

</div>
