<div class="bg pt-5  ">
  <div class="container ">

    <!-- card 1-->
    <div class="card shadow1 mt-5 ">
      <div class="card-body">
        <h4 class="card-title text-center "> معلومات عن التأمين مسافرين </h4>
        <div class="row">

          <div class="col-6" *ngIf="actualUser.role==Role.Finance || actualUser.role==Role.Admin">
            <div class="dis">
              <label> البحث بإسم المكتب </label>
              <select class="form-select" [(ngModel)]="bureauId"
                      (ngModelChange)="data.fetchUsersBySelectedBureau(bureauId)">
                <option [value]="-1" style="font-weight: bolder">اختر إسم المكتب</option>
                <option *ngFor="let b of data.bureaux" [value]="b.id">{{b.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-4 mb-3" *ngIf="actualUser.role==Role.Director || bureauId!=0">
            <div class="dis" *ngIf="actualUser.role!=Role.User">
              <label>البحث بإسم المستخدم </label>
              <select class="form-select" [(ngModel)]="userId" *ngIf="actualUser.role===Role.Director">
                <option [value]="-1" style="font-weight: bolder">اختر إسم المستخدم</option>
                <option *ngFor="let u of data.bureauUsers" [value]="u.id">{{u.username}}</option>
              </select>
              <select class="form-select" [(ngModel)]="userId" *ngIf="actualUser.role===Role.Admin">
                <option [value]="-1" style="font-weight: bolder">اختر إسم المستخدم</option>
                <option *ngFor="let u of data.selectedBureauUsers" [value]="u.id">{{u.username}}</option>
              </select>
            </div>
          </div>
          <div class="col-4" *ngIf="actualUser.role!=Role.Finance">
            <div class="dis">
              <p> رقم جواز السفر </p>
              <input type="text" class="form-control" [(ngModel)]="numero_passport"/>
            </div>

          </div>


          <div class="col-4" *ngIf="actualUser.role!=Role.Finance">
            <div class="dis">
              <p> الوجهة </p>

              <select class="form-select" [(ngModel)]="direction">
                <option style="font-weight: bold" selected>إختر الوجهة</option>
                <option *ngFor="let p of pays" [value]="">{{p}}</option>
              </select>
            </div>
          </div>
          <div class="row">


            <div class="col-12">
              <div class="dis">
                <p> إختر تاريخ ما بين </p>
                <input type="date" class="form-control" [(ngModel)]="startDate"/>

                الى التاريخ
                <input type="date" class="form-control" [(ngModel)]="endDate"/>
              </div>
            </div>

            <div class="table-wrapper-scroll-xy my-custom-scrollbar" *ngIf="show">
              <div class="table-responsive">
                <table class="table table-bordered table-striped mb-0">
                  <thead>
                  <tr style="background-color: #3a86ff;color:white">
                    <th scope="col">إجــمـالـــي البيـــــع</th>
                    <th scope="col">{{total}} دينار ليبي</th>
                  </tr>
                  </thead>
                  <thead>
                  <tr>
                    <th scope="col">رقم البطاقة</th>
                    <th scope="col">إسم المؤمن</th>
                    <th scope="col">جنسية المؤمن</th>
                    <th scope="col">وجهة المؤمن</th>
                    <th scope="col" *ngIf="actualUser.role===Role.Admin || actualUser.role===Role.Director">أضيفت بواسطة</th>
                    <th scope="col" *ngIf="actualUser.role===Role.Admin || actualUser.role===Role.Finance">إسم المكتب</th>
                    <th scope="col">التغطية من</th>
                    <th scope="col">إلى</th>
                    <th scope="col">المبلغ الإجمالي</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let t of travels">
                    <th scope="row">{{travels.indexOf(t)+1}}</th>
                    <td>{{t.name}}</td>
                    <td>{{t.nationalite}}</td>
                    <td>{{t.direction}}</td>
                    <td *ngIf="actualUser.role===Role.Admin || actualUser.role===Role.Director">{{t.user.username}}</td>
                    <td *ngIf="actualUser.role===Role.Admin || actualUser.role===Role.Finance">{{t.user.bureau.name}}</td>
                    <td>{{t.startDate}}</td>
                    <td>{{t.endDate}}</td>
                    <td>{{t.total}}</td>
                  </tr>

                  <!-- Add more rows as needed -->
                  </tbody>
                </table>
              </div>
            </div>


          </div>
          <div class="row">
            <div class="dis ">
              <button type="button" class="button b1" (click)="search()">بحث <i class="fa-solid fa-magnifying-glass"
                                                                                style="color: #ffffff;"></i></button>
              <button type="button" class="button b2">طباعة pdf <i class="fa-solid fa-file-pdf"
                                                                   style="color: #ffffff;"></i></button>
              <button type="button" class="button b4" (click)="downloadCSV()">طباعة xls <i
                class="fa-solid fa-file-excel" style="color: #ffffff;"></i></button>
              <button type="button" class="button b3" routerLink="/dashboard">إلغاء <i
                class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></button>
            </div>
          </div>
        </div>
        <!--ligne 3-->


      </div>

    </div>


  </div>

</div>

